[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
black = "21.8b0"
flake8 = "3.9.2"
isort = "5.9.3"
mypy = "0.910"
cmake = "*"
cmakelang = "*"

[requires]
python_full_version = "3.8.2"

[pipenv]
allow_prereleases = true
